*{
	margin:0;
	padding:0;
}

@font-face {font-family: 'iconfont';
    src: url('../img/font/iconfont.eot'); 
    src: url('../img/font/iconfont.eot') format('embedded-opentype'),
    url('../img/font/iconfont.woff') format('woff'),
    url('../img/font/iconfont.ttf') format('truetype'),
    url('../img/font/iconfont.svg#iconfont') format('svg');
}

a{
	text-decoration: none;
}

a:link,a:visited{
	color:#5e5e5e;
}

body{
	font-family:"微软雅黑";
	color: #14191e;
}

.main{
	width:800px;
	height:460px;
	margin:30px auto;
	position:relative;
	overflow:hidden;

}

.banner{
	width:800px;
	height:460px;
	overflow:hidden;
	position:relative;
}

.banner-slide{
	width:800px;
	height:460px;
	background-repeat:no-repeat;
	float:left;
	display:none;

}

.slide-active{
	display:block;
}

.slide1{
	background-image:url(../img/bg1.jpg);
}

.slide2{
	background-image:url(../img/bg2.jpg);
}

.slide3{
	background-image:url(../img/bg3.jpg);
}
.slide4{
	background-image:url(../img/bg4.jpg);
}


.button{
    position: absolute;
    transform:rotate(180deg);
    top: 50%;
    left: 0;
    height: 80px;
    width: 40px;
    margin-top:-40px;
    background:url(../img/arrow.png) center center no-repeat;
   
}

.next{
	transform:rotate(0deg);
	left:auto;
	right:0;
}

.button:hover{
	background-color:#333;
	opacity: 0.8;
	filter:alpha(opacity=80);
}

.dots {

	position: absolute;
	bottom: 24px;
	left: 50%;
	text-align: right;
	padding-right: 24px;
	line-height: 12px;
	font-size: 0;
	margin-left: -30px;
}

.dots span {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-left: 8px;
	background-color: rgba(7, 17, 27, 0.4);
	cursor: pointer;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) inset;
}

.dots span.active{
	box-shadow: 0 0 0 2px rgba(7, 17, 27, 0.4) inset;
	background-color: #ffffff;
}


